*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
  background: #000;
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,a:hover{
  background: white;
  color: #000;
  font-weight: bold;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom: 4px solid black;
}

.dropdown-content a{
  color: black;
  font-weight: bold;
  font-size: large;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{background-color: #ddd; font-weight: bolder;}

.dropdown:hover .dropdown-content{display: block;}